/*GRID MUSICOS*/
section{
	padding: 50px 0;
	margin-top: 0px;
	text-align: center;
}

.container_musicos{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

main{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	margin: 30px auto 50px auto;

}

.card{
	max-width: 400px;
	background-color: #fff;
	margin:0 auto 0;
	border-radius: 0 25px 0 25px;
	overflow: hidden;
	box-shadow: 0 4px 5px #cacaca;
}


.content{
	padding: 15px 25px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.card img{
	width: 100%;
	height: 400px;
	object-fit: cover;
}

h1{
	margin-bottom: 4px;
}

h4{
	font-weight: 500;
	color: gray;
	font-size: 15px;
}

@media(max-width: 768px){
	main{
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
	}
}

@media (max-width: 480px){
	.card{
		max-width: 350px;
	}
}

@media (max-width: 360px){
	.card{
		max-width: 330px;
	}
}

@media (max-width: 320px){
	.card{
		max-width: 300px;
	}

	.card img{
		height: 350px;
		object-fit: cover;
	}
}

@media (max-width: 280px){
	.card{
		max-width: 270px;
	}

	.card img{
		height: 300px;
		object-fit: cover;
	}
}